*{
    margin: 0;
    padding: 0 ;
    transition: 0.2s linear;
}
.second_test_inside_1{
    border: 0.1px solid black;
    padding: 1rem 1rem;
    margin: 1rem 0rem 0rem 0rem;
}
.second_test_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.second_test_paragraph_1{
    font-size: 1.1rem;
}
.second_test_input_field_type label{
    font-size: 1.1rem;
    margin: 0rem 0rem 0rem 1rem;
    font-family: 'Arvo', serif;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Cormorant SC', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Licorice', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Prompt', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Sansita Swashed', cursive;
    font-family: 'Slabo 27px', serif;
    font-family: 'Source Sans Pro', sans-serif; */
}
.second_test_input_field_category_para{
    font-size: 1.1rem;
    margin: 0.3rem 0rem;
}
.category_type_class{
    font-size: 1.1rem;
}